*{
    margin:0;
    padding:0;
    font-family: 'Arvo', serif;
}

section{
    display:flex;
    position:absolute;
    z-index:4;
    
}

.section1{
    width:27vw;
    margin-right:2%;
    margin-left: 5%;
    
}
.sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background:#151719;
    left:-200px;
    transition: all 500ms linear;
}
.sidebar.active{
    left:0px;
}
.sidebar ul li {
    color:rgba(230,230,230,0,9);
    list-style:none;
    padding:15px 10px;
    border-bottom:1 px solid right(100,100,100,3);
}

.sidebar.navigation{
    position:absolute;
    left:230px;
    top:230px;
}
.sidebar.navigation span{
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
}
.crg{
    margin-left:3%;
    
}
.submenu{
    background-color:#931d21;
    display:block;
    padding:4% 4%;
    border-bottom:1px solid #d87578;
    padding-left:4%;
    
}
.submenu:hover{
      curser:pointer;
      background-color:#ffffff;
}

.section2{
    width:68vw;
    display:inline-block;
    
}
.txtsrch{
    margin-left:18%;
    margin-top:5%;
    width:23vw;
    height:5vh;
    border:1px ridge #d5d5e6;
}


.txtsrch[placeholder]{
    padding-left:1%;
    
}
.btnsrch{
    width:5vw;
    height:5vh;
    background-color:#19e5e5;
    border:0px;
}


nav{
    margin-top:4%;
    widht:100%;
    height:2%;
    background-color:white;
    border-radius:6px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.menuitem{
    margin-top:5vh;
    padding:3% 3% 3% 3%;
    text-decoration:none;
    background-color:#c94359;
    color:white;
    font-family:'Indie Flower', cursive;
    font-size:1.5vw;
    box-shadow:10px 15px 50px black;
}

.menuitem:hover{
    background-color:#0e9ec5;
    box-shadow:none;
}
.slider{
    background:#d8a075;
    width:68vw;
    height:52vh;
    margin-top:15%;
    overflow:hidden;
}
.slider.slides{
    width:200vw;
    height:52vh;
    display:flex;
    
}
.slide1{
    width:68vw;
    height:52vh;
    
}
.slide1.img1{
    width:33vw;
    height:38vh;
    display:inline-block;
    margin-top:4%;
    
}
.slide1.img2{
    width:38vw;
    height:50vh;
    
}
.slide1.img3{
    width:38vw;
    height:52vh;
    
}
.constant{
    position:absolute;
    width:26vw;
    height:52vh;
    margin-left:36vw;
    
}
.constant h1{
    margin-top:10vh;
    color:#758fd8;
}
.constant p{
    font-family:'Pacifico';
    margin-top:3vh;
    margin-bottom:2vh;
    
}
.constant.btnshopnow{
    padding: 4%;
    color:white;
    background-color:#313030;
    border-radius:10px;
}
.product-title{
    text-align:center;
    padding:5px;
    background:#333;
    color:#fff;
}
.price{
    position:absolute;
    bottom:130px;
    right:15px;
    background:#758fd8;
    color:#fff;
    padding:5px;
    font-size:22px;
}

.qty{
    width: 40px;
    color:#666 !important;
    text-align:center;
    margin-bottom:20px;
    
}

.pr-add{
    margin:5px auto 20px auto;
    width:100%;
    text-align:center;
}
.pr.price{
    font-size:25px;
    margin-bottom:20px;
}
.pr img{
    width:100%;
}